/* INDEX COLORS : 
http://colorhunt.co/c/43120 
http://colorhunt.co/c/42664

#36506C (bleu) => primary color, nav
#233142 (bleu marine) => h1, hr h1, hover primary color
#AC4C5E (bordeau pale) => secondary color, btn-ok[disabled]
#6EAB60 (vert pastel ) => success color, btn-ok
#eee (gris clair) => border, hr default
*/

/********************** GLOBAL / RESETS / DEBUG / INFO **********************/
/* RESET / GLOBAL */
body {padding-top: 60px;}

img {max-width:100%; height:auto;}

a, a:hover {text-decoration: none; color:inherit;}

h1, h2, h3, h4, h5, h6, p {margin:0;}

h1, h2 {color:#233142;}

hr {margin-top:10px; margin-bottom: 8px;}

h1 {font-size: 2.2em;}
h2 {font-size: 1.8em; margin: 18px 0 6px 0;}
h3 {font-size: 1.15em; font-weight:700;}
h3 {font-size: 1.10em; font-weight:700;}

section, aside{margin-top:20px;}

h1 + hr {border-color:#233142;}

.section-back-office table a {margin:0 8px;}
.btn, .btn-default, .btn-ok, .form-control, .input-group-addon, .pagination > li > a {border-radius: 0px!important;}


/* DEBUG & MSG INFO */

.debug {background-color: DodgerBlue; padding: 10px;}
.error, .succes {color:white;font-style: italic;padding: 7px;margin-top: 15px;border-radius: 4px;}
.succes {background-color: ForestGreen;}
.error {background-color: darkred;}

/********************** INCLUDES **********************/
/* NAV */
.navbar-inverse {background-color:#36506C; border:none;}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {color:white;}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {background-color:#1D3753;}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {background-color:#1D3753;}

/* FOOTER */
footer {height:26px;background-color: #233142; margin-top:30px;}
footer p {line-height: 26px; color:white; padding:0 24px; font-style: italic;}
footer p a {text-decoration: underline;}

/********************** TEMPLATES **********************/
/* INDEX / PAGE PRODUITS */
#h1-index {margin-top:20px;}
#section-boutique .vignette-produit {margin-bottom: 20px;border-bottom: 16px solid #AC4C5E;}
#section-boutique .vignette-produit:hover {border-bottom: 16px solid #933345;}
#section-boutique .vignette-produit:hover h3 {background-color: #36506C; color:white;} 
#section-boutique .description-produit {padding:5px 3px 10px 5px;background-color: #fbfbfb;}
#section-boutique .description-produit p {padding:2px 0;}
#section-boutique h3 {background-color: #fbfbfb;padding:6px 5px;}


/* PAGE GESTION SALLE */
#table-liste-salles img, #table-liste-produits img {max-width: 100px;}
#table-liste-salles a {display:inline;}
#section-gestion-salles .imgpdt {height:100%; max-width: 200px;}

/* PAGE FICHE PRODUIT */
#section-fiche-produit h1, #section-fiche-produit #note-produit {display:inline-block;}
#section-fiche-produit h3 {padding:6px 0;}
#section-fiche-produit #note-produit {padding-left:6px; font-size:1.4em;}
hr.hr-page-produit {border-color:#233142;}
#infos-supplementaires {margin: 10px 0 8px 0;}
#infos-supplementaires p {padding:2px 0;}
#section-fiche-produit .produits-complementaires {padding:6px 0;position:relative;z-index:10;}
#section-fiche-produit .hover-produits-complementaires{background-color: rgba(0, 0, 0, 0.5);position:absolute;top:6px;z-index:50;}
#section-fiche-produit .hideHover{display:none;}
#section-fiche-produit .hover-produits-complementaires h4 {color:white;}
#section-fiche-produit #note_salle{width:auto;}

/* PAGE CONNEXION & INSCRIPTION */
#section-connexion form, #section-inscription form {margin:20px 0px;}

/* PAGE PROFIL */
#section-profil h2 {margin-bottom: 12px;}
#section-profil p {margin-bottom: 3px;}


/********************** CROSS TEMPLATES **********************/
/* AVIS PRODUIT (INDEX / NOS PRODUITS / FICHE PRODUIT) */
.avis-produit:hover .nb-avis{text-decoration: underline;}
#section-boutique .avis-produit:hover {color:#AC4C5E;}
#section-fiche-produit .avis-produit {color:#933345;}
#section-fiche-produit .avis-produit:hover {color:#AC4C5E;}

/* LIENS P */
#section-fiche-produit p a, #section-connexion p a, #section-inscription p a {font-weight:700;}
#section-fiche-produit p a:hover, #section-connexion p a:hover, #section-inscription p a:hover  {color:#36506C;}

/* BOUTONS */
.btn-ok {
  color: #fff;
  background-color: #619E53; /* vert */
  border-color: #559247; /* Darken 5% */
}

.btn-ok:focus, .btn-ok:hover, .btn-ok:active, .open > .dropdown-toggle.btn-ok {
  color: #fff;
  background-color: #559247; /* Darken 10% */
  border-color: #3B782D; /* Darken 15% */
}

.btn-ok:active:hover,
.open > .dropdown-toggle.btn-ok:hover,
.btn-ok:active:focus,
.open > .dropdown-toggle.btn-ok:focus {
  color: #fff;
  background-color: #559247; /* Darken 5% */
  border-color: #559247; /* Darken 10% */
}
.btn-ok:active, .open > .dropdown-toggle.btn-ok {background-image: none;}

.btn-ok[disabled] {
  background-color: #AC4C5E; /* rouge */
  border-color: #9F3F51; /* Darken 5% */	
}

.btn-ok[disabled]:hover,
.btn-ok[disabled]:focus
{
  background-color: #B9596B; /* Lighten 5% */
  border-color: #AC4C5E; /* rouge */
}

/* PAGINATION */
.pagination > li > a {color:#AC4C5E;}
.pagination > li:hover > a {color:white; background-color:#AC4C5E;}
.pagination > li.disabled > a {background-color: #79192B; color:white; cursor:pointer;}
.pagination > li.disabled:hover > a {background-color: #79192B; color:white; cursor:pointer;}

/********************** MEDIA QUERY ***********************/
/* INDEX / PAGE PRODUITS */
@media screen and (max-width:768px) {
	#section-boutique .description-produit p {padding:3px 0;}
	#section-boutique .description-produit p:last-child {padding:5px 0;}
}

@media screen and (max-width: 450px){
 #section-fiche-produit #note-produit {display:none;}
}