/* GLOBAL */
/* INDEX COLORS : 
http://colorhunt.co/c/43120 ???
#AC4C5E => bordeaux clair 
#eee => BORDER

http://colorhunt.co/c/42664
#233142 => bleu marine (h1)
#36506C => bleu moins marine (nav)

*/
body {padding-top: 60px; padding-bottom: 50px;}

img {max-width:100%; height:auto;}

a, a:hover {text-decoration: none; color:inherit;}

h1, h2, h3, h4, h5, h6, p {margin:0;}

h1, h2 {color:#233142;}

hr {margin-top:10px; margin-bottom: 8px;}

h1 {font-size: 2.2em;}
h2 {font-size: 1.8em; margin: 18px 0 6px 0;}
h3 {font-size: 1.15em; font-weight:700;}
h3 {font-size: 1.10em; font-weight:700;}

section, aside{margin-top:20px;}

h1 + hr {border-color:#233142;}

/* TEMPORAIRE */
.navbar-nav li {
	font-size:0.8em;
}

/* DEBUG & MSG INFO */

.debug {
	background-color: DodgerBlue; 
	padding: 10px;
}

.error {
	background-color: darkred;
	color:white;
	font-style: italic;
	padding: 7px;
	margin-top: 15px;
	border-radius: 4px;
}

.succes {
	background-color: ForestGreen;
	color:white;
	font-style: italic;
	padding:7px;
	margin-top: 15px;	
	border-radius: 4px;
}

.warning {
	background-color: DarkOrange;
	color:white;
	font-style: italic;
	padding:7px;
	margin-top: 15px;	
	border-radius: 4px;	
}


/* NAV */
/* Redéfinition couleurs bootstrap de la nav */
.navbar-inverse {background-color:#36506C; border:none;}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {color:white;}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {background-color:#1D3753;}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {background-color:#1D3753;}


/* INDEX / PAGE PRODUITS */
#h1-index {
	margin-top:20px;
}
#section-boutique .vignette-produit {
	margin-bottom: 20px;
	border-bottom: 16px solid #AC4C5E;
}

#section-boutique .vignette-produit:hover {
	border-bottom: 16px solid #933345;
}

#section-boutique .vignette-produit:hover h3 {background-color: #36506C; color:white;} 

#section-boutique .description-produit {
	padding:5px 3px 10px 5px;
	background-color: #fbfbfb;
}
#section-boutique .description-produit p {padding:2px 0;}
#section-boutique h3 {
	background-color: #fbfbfb;
	padding:6px 5px;
}

/* AVIS PRODUIT (INDEX / NOS PRODUITS / FICHE PRODUIT) */
.avis-produit:hover .nb-avis{text-decoration: underline;}
#section-boutique .avis-produit:hover {color:#AC4C5E;}
#section-fiche-produit .avis-produit {color:#933345;}
#section-fiche-produit .avis-produit:hover {color:#AC4C5E;}


/* PAGE GESTION SALLE */
#table-liste-salles img, #table-liste-produits img {
	max-width: 100px;
}

#table-liste-salles a {
	display:inline;
}

#section-gestion-salles .imgpdt {
	height:100%;
	max-width: 200px;
}

/* PAGE FICHE PRODUIT */
#section-fiche-produit h1, #section-fiche-produit #note-produit {display:inline-block;}

#section-fiche-produit h3 {padding:6px 0;}

#section-fiche-produit #note-produit {padding-left:6px; font-size:1.4em;}

hr.hr-page-produit {border-color:#233142;}
#infos-supplementaires {margin: 10px 0 8px 0;}
#infos-supplementaires p {padding:2px 0;}
#section-fiche-produit .produits-complementaires {padding:6px 0;position:relative;z-index:10;}
#section-fiche-produit .retour-catalogue a:hover {color:#36506C;}

#section-fiche-produit .hover-produits-complementaires{background-color: rgba(0, 0, 0, 0.5);position:absolute;top:6px;z-index:50;}
#section-fiche-produit .hideHover{display:none;}
#section-fiche-produit .hover-produits-complementaires h4 {color:white;}

/* MEDIA QUERY */
/* INDEX / PAGE PRODUITS */
@media screen and (max-width:768px) 
{
	#section-boutique .description-produit p {padding:3px 0;}
	#section-boutique .description-produit p:last-child {padding:5px 0;}
}