/* GLOBAL */
body {
  padding-top: 60px;
  padding-bottom: 50px;
}

/* TEMP */
.navbar-nav li {
	font-size:0.8em;
}

/* DEBUG & MSG INFO */

.debug {
	background-color: DodgerBlue; 
	padding: 10px;
}

.error {
	background-color: darkred;
	color:white;
	font-style: italic;
	padding: 7px;
	margin-top: 15px;
	border-radius: 4px;
}

.succes {
	background-color: ForestGreen;
	color:white;
	font-style: italic;
	padding:7px;
	margin-top: 15px;	
	border-radius: 4px;
}

.warning {
	background-color: DarkOrange;
	color:white;
	font-style: italic;
	padding:7px;
	margin-top: 15px;	
	border-radius: 4px;	
}

/* PAGE GESTION SALLE */
#table-liste-salles img {
	max-width: 100px;
}

#table-liste-salles a {
	display:inline;
}

#section-gestion-salle .imgpdt {
	height:100%;
	max-width: 200px;
}